table {
  border-collapse: collapse;
}

tbody tr:nth-child(even) {
  background-color: #eeeeee;
}

tr {
  border-top: 1px solid black;
}

td,
th {
  padding: 1rem;
  border: 1px solid black;
}

img.team-photo {
  max-width: 20rem;
  max-height: 30rem;
}
