#challenge-container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(6, 1fr);
  gap: 4rem;
  justify-content: center;
}

#challenge-container > button {
  width: 15rem;
  height: 15rem;
}

@media (max-width: 1000px) {
  #challenge-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
