html {
  font-size: 62.5%; /* Reset 1 rem to 10px */
  font-family: Roboto, sans-serif;
}

/* Take full control of sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

/* Remove Up/down arrows from number field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3.2rem;
}
