html {
  font-size: 62.5%; /* Reset 1 rem to 10px */
}

/* Take full control of sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove Up/down arrows from number field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
